<div class="review-container">
  <div class="new-review-container">
    {{#unless session.isAuthenticated}}
    <h4>You must be logged in to add a review!</h4>
    {{/unless}}
    {{#unless album.reviews}}
    <div class="no-reviews">
      <h4>No reviews have been written for this album yet!</h4>
      <h4>Be the first.</h4>
    </div>
    {{/unless}}
    {{#each album.reviews as |review|}}
    {{review-tile review=review}}
    {{/each}}
    {{#if session.isAuthenticated}}
    <div class='new-review'>
      <form>
        <div class="form-group">
          <label for="rating">Rating</label>
          {{star-rating class='gi-2x' item=review rating=currentRating on-click=(action 'updateRating')}}
        </div>
        <div class="form-group">
          {{input value=title id='title' placeholder='Add Your Title'}}
        </div>
        <div class="form-group">
          {{textarea value=content id='content' placeholder='Add Your Review'}}
        </div>
      </form>
      <div>

        <button {{action 'createReview' session album user}}>Submit</button>
      </div>


    </div>
    {{/if}}
  </div>
</div>
